<div class="container rounded border border-2 py-1 my-1">
    <p>
        <strong><%= "@" + comment.commenter %></strong>
    </p>
    <p>
        <div>
            <%= comment.body %>
        </div>
    </p>
</div>
<div class="btn-group g-5" role="group" arial-label="Buttons">
    <p>
        <%= link_to "Delete", [comment.article, comment],
            method: :delete,
            data: { confirm: "Are you sure?" },
            :class => "btn btn-outline-primary" %>
    </p>
</div>