<div class="head-content"><h1 class="display-1">Articles<h1>
</div>

<h1 class="display-5 head-sub">Our blog has <%= Article.public_count %> articles and counting!
</h1>

<ul class="list-unstyled list-picker">
    <% @articles.each do |article| %>
        <% unless article.archived? %>
            <li>
                <p class="lead"><%= link_to article.title, article %>
                </p>
            </li>
        <% end %>
    <% end %>
</ul>

<div class="links">
    <p class="h4 link_to_"><%= link_to "New Article", new_article_path %>
    </p>
</div>