  .head-content {
    background-color: $primary;
  }

  .head-sub {
    background-color: $secondary;
  }

  .links {
    display: flex;
    background-color: $info;
    justify-content: center;
    align-items: center;
  }

  .list-picker {
    margin: 0 auto;
    text-align: center;
  }