  .head-content {
    background-color: #c2e9ff;
  }

  .head-sub {
    background-color: #def3ff;
  }

  .links {
    display: flex;
    background-color: #c2e9ff;
    justify-content: center;
    align-items: center;
  }

  .list-picker {
    margin: 0 auto;
    text-align: center;
  }